*{
	margin: 0;
	padding: 0;
}

.logo{
    color:#fff;
	width:150px;
	height:150px;
	margin:40px;
	float: left;
	background-color: #dfdfdf;
}

.logo:after{
	display: block;
	clear: both;
	content: "";
}

.menu{
	margin:40px;
	width: 450px;
	float: right;
}

.menu-1{
	list-style: none;
}

.menu-explanation{
	float: left;
	color: #959595;
	font-size: 8pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
	letter-spacing: 2px;
	margin:0px 0 0px 20px ;
	width: 130px;
	height: 20px;
	text-align: center;
}

.menu-1:after{
	display: block;
	clear: both;
	content: "";
}

.menu-2{
	list-style: none;
}


.menu-button{
	float: left;
	font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
	letter-spacing: 4px;
	margin:10px 0 0 20px ;
	width: 130px;
	height: 20px;
	text-align: center;
}

.menu-2:after{
	display: block;
	clear: both;
	content: "";
}




