*{
	margin: 0;
	padding: 0;
}


/*@media screen and (max-width:525px) { 
	.menu{
		display: none;

		//opacity: 0.0;
		//display: none;	要素ごそっとなくなる
		//visibility: hidden;　隠す
	}
}

@media screen and (min-width:526px) { 
	.menu-sp{
		display: none;
     }
}
*/

.header{
	height: 50px;
    background-color: blue;

}


.menu-line{
	width:30px;
	height:2px;
	margin-bottom: 10px;
	background-color: black;
	list-style: none;
}


.menu-button{
	color:#fff;
	width:160px;
	height:30px;
	margin:10px 0px 10px 10px;
	float: left;
	background-color: #f00;
}



.menu{
	list-style: none;
}

@media screen and (max-width:525px) { 
	.menu{
		display: none;
	}
}

.menu:after {
	display: block;
	clear: both;
	content: "";
}



.menu-sp{
	display: none;
	padding: 10px;
}

@media screen and (max-width:525px) { 
	.menu-sp{
		display: block;
	}
}


